@page
@model MegaDeskRazor.Pages.AddQuote.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="h1 padding-top">New Desk Quote</h2>
<hr />
<div class="row">
    <div class="col-md-8 margin-auto create-form marginbottom">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuoteForm.CustomerName" class="control-label padding-top"></label>
                <input asp-for="QuoteForm.CustomerName" placeholder="Ex: Bob Jones" class="form-control" />
                <span asp-validation-for="QuoteForm.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="QuoteForm.QuoteDate" class="form-control" value="@DateTime.Now"/>
                <span asp-validation-for="QuoteForm.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteForm.Width" class="control-label"></label>
                <input id="width" asp-for="QuoteForm.Width" placeholder="24-96" class="form-control" />
                <span asp-validation-for="QuoteForm.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteForm.Depth" class="control-label"></label>
                <input asp-for="QuoteForm.Depth" class="form-control" placeholder="12-48" onkeyup="CalculateArea(QuoteForm.Width, QuoteForm.Depth)"/>
                <span asp-validation-for="QuoteForm.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteForm.Drawers" class="control-label"></label>
                <input asp-for="QuoteForm.Drawers" min="0" placeholder="0-7" class="form-control" />
                <span asp-validation-for="QuoteForm.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteForm.Material" class="control-label"></label>
                <select asp-for="QuoteForm.Material" class="form-control" asp-items="Model.Materials"></select>
                <span asp-validation-for="QuoteForm.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteForm.RushOption" class="control-label"></label>
                <select asp-for="QuoteForm.RushOption" class="form-control" asp-items="Model.RushTime"></select>
                <span asp-validation-for="QuoteForm.RushOption" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary half-width" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

