@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h2 class="display-3">Welcome</h2>
    <hr class="my-4" />
    <p>Create a new quote with the New Quote tab. View all quotes, sort, edit, and delete quotes in the View Quotes tab.</p>
</div>
