
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron secondary">
        <h1 class="display-4">Welcome</h1>
        <p>This is a Sacrament Meetig Planner for The Church of Jesus Christ of Latter-day Saints.</p>
        <p>Here you can build your sacrament meeting agenda and print a program.</p>

    </div>
    <h4 class="text-left">How to use this app:</h4>
    <ul class="text-left">
        <li>Select Create to start planning.</li>
        <li>In the Details view, you can print your program.</li>
        <li>Select Search to find previous planned meetings.</li>
        <li>In the Search view, you can sort by date, search by topic or search by speaker.</li>

    </ul>
</div>