@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 jumbotron secondary">Welcome</h1>
    <p>This is a Sacrament Meetig Planner for The Church of Jesus Christ of Latter-day Saints. 
    Use this app to build your sacrament meeting agenda and print a program. 
    Select the create button to start planning. In the details view you can print your program.
    Select search to find previous planned meetings. In the search view you can sort by date, search by topic or search by speaker.</p>
</div>
